<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.utkise.TTSProj2"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="1"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:icon="@drawable/icon_name" android:label="Bus Helper">
        <activity android:name=".activity_vision"
                         android:label="@string/app_name"
                         android:screenOrientation="landscape"
                         android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
     </activity>

        <activity android:name=".activity_hearing"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activity_boarding"
                               android:label="@string/app_name"
                               android:screenOrientation="landscape"
                               android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
    </activity>

        <activity android:name=".activity_display"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activity_main"
         android:screenOrientation="landscape"
         android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

         </activity>
        <activity android:name=".activity_emergency"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name=".activity_more"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_response"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_nonenglish"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_visionMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_cognitive"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_cognMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".debug_activity_click"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
